.panel {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 32px 0;
}

.filters {
  list-style: none;
  display: flex;
  column-gap: 9px;
}

.filters li {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  cursor: pointer;
  background: #F9F9F9;
  border-radius: 30px;
  padding: 14px 30px;
  transition: opacity ease-in 0.1s;
}

.filters li:hover {
  opacity: 0.7;
}

.active {
  color: #fff;
  background-color: #000 !important;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  padding-right: 10px;
  position: relative;
}

.text:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  left: -15px;
  top: 3px;
}

.select {
  border-bottom: 1px dashed #FE5F1E;
  color: #EB5A1E;
  display: block;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.modal {
  width: 132px;
  position: absolute;
  right: 0;
  top: 50px;
}

.list {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 13px 0;
  background: #fff;
}

.listItem {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;

}

.listItem:hover {
  background: rgba(254, 95, 30, 0.05);
}

.selected {
  color: #EB5A1E;
  font-weight: 700;
}
