.logo {
  background: url(../../images/logo.png) no-repeat left center;
  padding-left: 55px;
  display: block;
  text-decoration: none;
}

.heading {
  color: #181818;
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  text-transform: uppercase;
}

.text {
  color: #7B7B7B;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}