.heading {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: 35px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  row-gap: 65px;
  column-gap: 35px;
}