.search > input {
  display: block;
  padding: 10px 30px 10px 50px;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #7B7B7B;
  border: 1px solid #7B7B7B;
  outline: none;
  letter-spacing: 1px;
  background: url(../../images/search-svg.svg) no-repeat 15px center;
}