@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #FFDF8C;
}

h1, h2, h3, h4, h5, h6, p, ul, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}
